{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}
{% block seo %}
    <meta content="{{ SITENAME }}" property="og:title">
    <meta content="{{article.description}}" property="og:description">
    <meta property="og:tags" content="{{tag}}">
{% endblock seo %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col my-3">
            <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            <p><i class="far fa-clock"></i> <strong>Publicado:</strong> {{ article.locale_date }} - <strong>Categoria:</strong> {{ article.category }}</p>
            <div class="my-3">{{ article.content }}</div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $("table").attr("class", "table table-sm text-center");
        $("thead tr").addClass("bg-dark text-white");
        $("img").addClass("img-fluid mx-auto d-block");
    });
</script>
{% endblock %}
