{% extends "base.html" %}
{% block content %}
<section id="welcome">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Bienvenido al blog de <storng>Pango | Stevej</storng></h1>
                <h2 class="mt-3">“Si tú no trabajas por tus sueños, alguien te contratará para que trabajes por los suyos” #SteveJobs</h2>
                <a href="https://bit.ly/39T0vVT" class="btn btn-danger mt-3" target="_blank"><i class="fab fa-youtube"></i> Suscríbete</a>
                <a href="https://www.paypal.com/paypalme/patagoniawow" class="btn btn-success mt-3" target="_blank"><i class="fab fa-paypal"></i> Donaciones</a>
                <a href="https://github.com/pangolp/" class="btn btn-dark mt-3" target="_blank"><i class="fab fa-github"></i> Repositorio</a>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col">
            {% for article in articles_page.object_list %}
                <div class="my-5">
                    <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                    <h6><i class="far fa-clock"></i> {{ article.locale_date }} - <i class="fas fa-user-graduate"></i> {% for author in article.authors %}<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> - {% endfor %}</h6>
                    <div class="article__summary">{{article.summary}}</div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if articles_page.has_other_pages() %}
                {% include 'pagination.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
