{% extends "base.html" %}
{% block content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ STATIC }}/images/banner.png" class="img-fluid" alt="banner youtube channel">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://bit.ly/39T0vVT" class="btn btn-danger m-3 btn-lg" target="_blank"><i class="fab fa-youtube"></i> YouTube</a>
                <a href="https://www.paypal.com/paypalme/patagoniawow" class="btn btn-success m-3 btn-lg" target="_blank"><i class="fab fa-paypal"></i> PayPal</a>
                <a href="https://github.com/pangolp/" class="btn btn-dark m-3 btn-lg" target="_blank"><i class="fab fa-github"></i> Porfolio</a>
            </div>
        </div>
    </div>
</header>
<section id="content">
    <div class="container">
        {% for article in articles_page.object_list %}
            <div class="media">
                <div class="row">
                    <div class="col-md-1">
                        <img src="{{ STATIC }}/images/post.png" class="mr-3" alt="{{ article.title }}">
                    </div>
                    <div class="col-md-8">
                        <div class="media-body">
                            <h5 class="mt-0"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} - {{ article.locale_date }}</a></h5>
                            <p class="m-0">{{article.summary}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col">
                {% if articles_page.has_other_pages() %}
                {% include 'pagination.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
